<mat-toolbar>

    <div class="container">
        <a href="#" target="_blank" rel="noopener noreferrer" class="link">
            <span>
                Início
            </span>
        </a>

        <a href="#" target="_blank" rel="noopener noreferrer"class="link">
            <span>
                Como Funcionamos
            </span>
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer"class="link">
            <span>
                Nossas Conquistas
            </span>
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer"class="link">
            <span>
                Galeria
            </span>
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer"class="link">
            <span>
                Calendário
            </span>
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer"class="link">
            <span>
                Arquivos
            </span>
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer"class="link">
            <span>
                Contato
            </span>
        </a>
    </div>

</mat-toolbar>