/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: rgb(255, 193, 61);
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
}

.link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgb(255, 193, 61);
    border-radius: 50%;
    z-index: -1;
    transition: width 0.5s ease, height 0.5s ease, top 0.5s ease, left 0.5s ease;
    transform: translate(-50%, -50%);
}

.link:hover {
    color: black;
}

.link:hover::before {
    width: 130%;
    height: 130%;
    top: 50%;
    left: 50%;
}